<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h2>Purchase Confirmation</h2>
  
  <p>Hello <%= @cart.created_by.full_name %>,</p>
  
  <p>Thank you for making your purchase in our store. Below, we provide you with the transaction details:</p>
  
  <table>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Unit Price</th>
      <th>Total</th>
    </tr>
    <% @cart.cart_items.each do |item| %>
      <tr>
        <td><%= item.product.name %></td>
        <td><%= item.quantity %></td>
        <td><%= item.price.to_f %></td>
        <td><%= item.price.to_f * item.quantity %></td>
      </tr>
    <% end %>
  </table>
  
  <p>Total Purchase Amount: <%= @cart.total_amounth %></p>
  
  <p>Thank you for choosing us!</p>
</body>
</html>
